
<ion-content>

  <div class="summaryPopup">
    <span class="closePopup" class="closePopup" (click)="closeModal()">X</span>
    <h3>About Sleep Well</h3>
    <div class="pBanner"><div class="vFrame"><iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="summaryPoster tFrame" id="tFrame"><div class="vtImage" id="vtImage" (click)="playvideo()"><img  src="../../../assets/images/sleep-bannerr.jpg"/></div></div>
    </div>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  -->
    <!--<div class="readToggle"><img src="../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->
    <div class="">
      <div class="readMatterInr" id="readMatterInr">

    <h6>Welcome to Sleep Well <br/> Here you will learn:</h6>
    <p>SLEEP WELL offers tools to improve sleep habits, including: sleep meditations, sounds, tips, stories and a sleep log to track sleep and how it changes over time.</p>
  </div>
    <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
    <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>

    </div><!--readMatter ends--> 
    </div>
</ion-content>
