
<ion-content>

  <div class="summaryPopup">
    <span class="closePopup" class="closePopup" (click)="closeModal()">X</span>
    <h3>About Coping Tools</h3>
    <div class="pBanner"><div class="vFrame"><iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="summaryPoster tFrame" id="tFrame"><div class="vtImage" id="vtImage" (click)="playvideo()"><img  src="../../../assets/images/cope-banner.jpg"/></div></div>
    </div>
    <!-- <div class="summaryPoster"><img  width="560" height="315" src="../../../assets/images/copingtools.jpg"/></div> -->
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  -->
    <!--<div class="readToggle"><img src="../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->
    <div class="">
      <div class="readMatterInr" id="readMatterInr"> 

    <h6>Welcome to Coping Tools <br/> Here you will learn:</h6>
    <p>COPING TOOLS provides important mental health information pertinent to law enforcement; it offers access to a trauma kit following a critical incident, educational resources, guided exercises, and coping strategies.</p>
  </div>
    <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
    <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>

    </div><!--readMatter ends--> 
    </div>
</ion-content>

