
<ion-content>

  <div class="summaryPopup">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>About Managing Change</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>
    <div class="readMatter"> -->
    <div class="readMatterInr" id="readMatterInr">
    <h6>Welcome to Managing Change <br/> Here you will learn:</h6>
    <p>About Managing Change</p>
            <p>MANAGING CHANGE offers encouragement and psychoeducation to assist in dealing with change.</p>
        </div><!--readMatterInr ends-->
        <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
        <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>        <!--deepDive ends-->
       <!-- </div> -->
       <!--readMatter ends--> 
    </div><!--summaryPopup-->
    

</ion-content>
