<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">

        <div class="matrContainer orange">
  
          <div class="pageTitle" (click)="presentModal()"><h4><span class="infoPopup"><img src="../../../../assets/images/aboutIconWhite.png"/></span>Goals & Stats</h4>
          
         
            
          </div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/move-goalStats.png"></div>
        <a href="javascript:(0)" (click)="goto('sleep/sleep-logs')" class="subOptions">log</a>
        <a href="javascript:(0)" class="subOptions">Personal Chalanges</a>
         
        </div><!--matrContainer-->
        
        
      </div><!--mainContainer-->
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>