<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">
        <div class="matrContainer blue">
  
          <div class="pageTitle"><h4><span class="infoPopup"></span>Gratitude Journal</h4> </div>
        
        <div class=""><img src="../../../../assets/images/sm-gratitude-journal.png">
        
          <div id="MeterTabs">
            <button class="btn">I am thankful for...</button>
            <button class="btn">My affirmations are...</button>
            <button class="btn">Reason to smile...</button>
            <button class="btn">My biggest ins are...</button>
          </div><!--sadMeterTabs ends-->
        
        </div>
                 
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>