<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">
      <div class="mainContainer">

        <div class="matrContainer blue">
          <div class="pageTitle"><h4><span class="infoPopup"></span>BinaRuaral Beats</h4></div>
          <ul class="bbList">
            <li class="eachBB">
              <div class="ebImg"><img src="../../../../assets/images/ss-bb-delta.png"/><span>Delta</span></div>
              <div class="ebMatr">0.1-4 Hz<div>Deep Sleep</div></div>
            </li>
            
            <li class="eachBB">
              <div class="ebImg"><img src="../../../../assets/images/ss-bb-theta.png"/><span>Theta</span></div>
              <div class="ebMatr">4-7 Hz<div>Meditation</div></div>
            </li>
            
            <li class="eachBB">
              <div class="ebImg"><img src="../../../../assets/images/ss-bb-alpha.png"/><span>Alpha</span></div>
              <div class="ebMatr">8-14 Hz<div>Relaxed Focus</div></div>
            </li>

          <li class="eachBB">
            <div class="ebImg"><img src="../../../../assets/images/ss-bb-beta.png"/><span>Beta</span></div>
            <div class="ebMatr">8-14 Hz<div>High Level</div></div>
        </li>
        <li class="eachBB">
          <div class="ebImg"><img src="../../../../assets/images/ss-bb-gamma.png"/><span>Gama</span></div>
          <div class="ebMatr">8-14 Hz<div>peak</div></div>
      </li>
          </ul>             
                
        </div><!--matrContainer-->
             
        
        
        </div><!--mainContainer-->
        
        <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>