<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer green">
  
          <div class="pageTitle"><h4><span class="infoPopup"><img src="../../../../assets/images/aboutIconWhite.png"/></span>Dispatch</h4>
          
           <div class="summaryPopup">
            <span class="closePopup">X</span>
            <h3>About Dispatch</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>
            <div class="readMatter">
            <div class="readMatterInr">
            <p>DISPATCH is geared toward those who work in Dispatch or any other close quarters with limited space. You will find stretches, exercises and breathing techniques to do in your workspace. These activities are designed to help you take short breaks to release stress, stretch and move.

            </p>
                </div><!--readMatterInr ends-->
                <button class="deepDive green">Deep Dive</button><!--deepDive ends-->
               </div><!--readMatter ends--> 
            </div><!--summaryPopup-->
            
            
            
            
          </div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/dispatch.jpg"></div>
        <a href="javascript:(0)" class="move-orangeButton">Resistance Training</a>
        <a href="javascript:(0)" class="move-orangeButton">Breathing</a>
        <a href="javascript:(0)" class="move-orangeButton">Eat on the go</a>
        
        
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>