<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer blue">
  
          <div class="pageTitle" (click)="presentModal()"><h4><span class="infoPopup"><img src="../../../../assets/images/aboutIconWhite.png"/></span>ON THE JOB</h4>
           
          </div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/dispatch.jpg"></div>
        <a href="javascript:(0)" class="subOptions">SITTING</a>
        <a href="javascript:(0)" class="subOptions">STANDING</a>
        <a href="javascript:(0)" class="subOptions">MOBILE</a>
        
        
        
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>