<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="pagecontainer pcmargin">

    <div class="mainContainer">


      <div class="matrContainer violet">

        <div class="pageTitle">
          <h4><span class="infoPopup"><img (click)="presentModal()" src="../../../../assets/images/aboutIconWhite.png" /></span>Funny Things</h4>

    



        </div>


        <div class="pBanner"><img src="../../../../assets/images/funnyThing.jpg"></div>
        <a href="javascript:(0)" class="subOptions">Department Funnies</a>
        <a href="javascript:(0)" class="subOptions">Featured Funny</a>
        <a href="javascript:(0)" class="subOptions">Videos</a>
        <a href="javascript:(0)" class="subOptions">Podcasts</a>
        <a href="javascript:(0)" class="subOptions">Cartoon</a>
        <a href="javascript:(0)" class="subOptions">Jokes</a>
      </div>
      <!--matrContainer-->

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>
