<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer indigo">
  
          <div class="pageTitle"><h4><span class="infoPopup"><img (click)="presentModal()" src="../../../../assets/images/aboutIconWhite.png"/></span>Education</h4>
          
        
            <div class="clear"></div> 
            
            
          </div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/education.jpg"></div>
        <a href="javascript:(0)" class="subOptions">Sleep Deprivation</a>
        <a href="javascript:(0)" class="subOptions">Alcoholism</a>
        <a href="javascript:(0)" class="subOptions">Depression</a>
        <a href="javascript:(0)" class="subOptions">Anxiety</a>
        <a href="javascript:(0)" class="subOptions">PTSD</a>
        <a href="javascript:(0)" class="subOptions">Burn Out</a>
        
        
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>