
<div class="fixftr" id="foot"> 
  <div class="prevP"><a defaultHref="/home" (click)="myBackButton()"  class="disabled"><img src="../../../assets/images/prevP.png"/></a></div>
  <div class="myhome"><h1><a href="javascript:(0)"><img src="../../../assets/images/bulp-prortip-icon.jpg"/></a></h1></div>
  <div class="myhome"><h1 id="home" (click)="goto('/home')"><img src="../../../assets/images/homeP.png"/></h1></div>
  <div class="myFavourites"><h1><a href="javascript:(0)"><img src="../../../assets/images/favourites.png"/></a></h1></div>
  <div class="nextP"><a href="javascript:(0)" class="disable"><img src="../../../assets/images/nextP.png"/></a></div> 
  
  
</div> <!--fixftr ends-->