<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="pagecontainer pcmargin">

    <div class="mainContainer">


      <div class="matrContainer violet">

        <div class="pageTitle">
          <h4 style="text-align:center;">Internal Team</h4>
        </div>

        <div class="pBanner"><img src="../../../../assets/images/cw-internal-team.png"></div>
        
        <a href="javascript:(0)" class="subOptions">Chaplain</a>
        <a href="javascript:(0)" class="subOptions">EAP</a>
        <a href="javascript:(0)" class="subOptions">Support Network</a>
        <a href="javascript:(0)" class="subOptions">Staff Psychologist</a>
      </div>
      <!--matrContainer-->


      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>