
<ion-content>
  <div class="summaryPopup">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>About Sights and Sounds</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon" /><i>X</i></div>
    <div class="readMatter"> -->
      <div class="readMatterInr" id="readMatterInr">
        <p>SIGHTS AND SOUNDSis where you can upload your photos or access beautiful, calming, peaceful photos
          you can view on your devices. It also provides music choices which can be clicked on and added to your
          custom list.</p>

      </div>
      <!--readMatterInr ends-->
      <button class="deepDive indigo"id="deepDive" (click)="onheight()">Deeper Dive</button>
      <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>
      <!--deepDive ends-->
    <!-- </div> -->
    <!--readMatter ends-->
  </div>
  <!--summaryPopup-->



</ion-content>
