<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer indigo">
  
          <div class="pageTitle"><h4><span class="infoPopup"><img (click)="presentModal()" src="../../../../assets/images/aboutIconWhite.png"/></span>Coping Strategies</h4>
         
            
            
            
          </div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/copingStrategies.jpg"></div>
        <a href="javascript:(0)" class="subOptions">7 minute daily meditation</a>
        <a href="javascript:(0)" class="subOptions">Tactical Breathing Practice</a>
        <a href="javascript:(0)" class="subOptions">Visualization Exercise</a>
        <a href="javascript:(0)" class="subOptions">Coping Activities</a>
        
        
        
          <div class="clear"></div> 
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>