<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer orange">
  
          <div class="pageTitle"><h4><span class="infoPopup"><img src="../../../../assets/images/aboutIconWhite.png"/></span>Day 4</h4>
          
           <div class="summaryPopup">
            <span class="closePopup">X</span>
            <h3>About Day Workout</h3>
            <div class="summaryPoster"><img src="../../../../assets/images/aboutWholein30.jpg"></div>
            <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>
            <div class="readMatter">
            <div class="readMatterInr">
            <h6>Welcome to Day Workout <br/> Here you will learn:</h6>
            <p>About Day Workout</p>
                    <p>When an incident causes the brain to become emotionally hijacked, reactions are automatic and habitual. We will refer to these incidents as “Stimuli” or “Triggers”. <br/><br/> 
                By Resetting your Mindset, you can change your habits when incidents trigger unwanted behaviors or reactions. This reset gives you the power to choose a response with careful consideration of the consequence of your actions.
                </p>
                </div><!--readMatterInr ends-->
                <button class="deepDive orange">Deep Dive</button><!--deepDive ends-->
               </div><!--readMatter ends--> 
            </div><!--summaryPopup-->
          </div>
          
          <div class="daBanner">
            <div><img src="../../../../assets/images/move-workout.png"/></div>
            <h5>WORKOUT</h5>
            <div class="playBtn"><img src="../../../../assets/images/playButton.png"/></div>
          </div><!--daBanner ends-->
          
          <div class="add2routine">
              <span class="emptyHeart"><img src="../../../../assets/images/move-heart.png"/></span><p>Add to my routine</p>
          </div>
        
        
        
        
        
        
        
        
         
        </div><!--matrContainer-->
                
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>