<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">
        <div class="matrContainer blue">
  
          <div class="pageTitle"><h4 class="pthead">NATURAL REMEDIES</h4> </div>
        
      <ul class="colSet">
        <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/s-nr-aroma-therapy.png"/></div>
             <div class="eMatr">Aromatherapy</div>
        </li>
        
        <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/s-nr-herbs.png"/></div>
             <div class="eMatr">Herbs</div>
        </li>
        
         <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/s-nr-other-therapies.png"/></div>
             <div class="eMatr">Other Theraphies</div>
        </li>
        
         <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/s-nr-supplements.png"/></div>
             <div class="eMatr">Supplement</div>
          </li>
      </ul>              
        <!--<div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->

        </div>
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>