ul.topSquares{}
ul.topSquares li{width: 16.4%;
    padding: 8px 1%;
    overflow: hidden;
    background: #ed6e2d;
    background-size: 60%;
    border: none;
    border-radius: 10px;
    float: left; display:inline-block;
    margin-right: 0;}
ul.topSquares li img{width:60%; margin:0 auto;}
ul.topSquares li.active{margin-bottom: -10px; padding: 15px 1% 20px;}
ul.topSquares li.active img{width:80%; margin:0 auto;}
ul.topSquares li:nth-child(1){background:#ed6e2d;}
ul.topSquares li:nth-child(2){background:#f4b13e;}
ul.topSquares li:nth-child(3){background:#97c255;}
ul.topSquares li:nth-child(4){background:#50a7db;}
ul.topSquares li:nth-child(5){background:#2b035c;}
ul.topSquares li:nth-child(6){background:#7f3f97;}
ul.thinkKids{}
ul.thinkKids > li{border: 2px solid #7f3f97; color: #fff; background: #053268;  text-transform: uppercase;  border-radius: 15px; display: block;  clear: both; margin-bottom: 10px;  font-size: 18px; font-weight: bold; }
ul.thinkKids > li:first-child { background: #7f3f97;  color: #fff;  margin-top: -10px;   transition: width .3s;}
ul.thinkKids > li:first-child h4{text-align:left;  font-size: 30px !important; font-weight: bold;}