<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer indigo">
  
          <div class="pageTitle"><h4>Down Time</h4>  </div>
          <div class="summaryPoster"><img src="../../../../assets/images/code-down-time.png"></div>
          <!-- <div class="readToggle"><img src="../../../../assets/images/playBtn.png" class="readIcon"><i>X</i></div>
          <div class="readMatter"> -->
              <div class="readMatterInr">
            <!-- <h6>Welcome to Down Time <br> Here you will learn:</h6> -->
            <p>About Down Time</p>
                    <p>After a critical incident, it is normal for there to be a lot of stress and strong emotions. The third step to this protocol is to use your down time wisely to best support healing.
                </p>
                 </div><!--readMatterInr ends--> 
                 <button class="deepDive indigo" id="deepDive" (click)="onheight()">Deeper Dive</button>
                 <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button><!--deepDive ends-->
               <!-- </div> -->
            
        
        
        
        
        
        
        
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>