<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer green">
  
          <div class="pageTitle"><h4>Scale Tracker</h4></div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/scaleTracker.png"></div>
        <div class="scaleInputs">
          <div class="siLeft"><span>Current Weight</span><input type="text" value="180"/></div>
          <div class="siRight"><span>Desired Weight</span><input type="text" value="170"/></div>
        </div><!--scaleInputs ends-->
        
        
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>