<ion-content>
   
  <div class="summaryPopup">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>About Sleep Tips</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>
    <div class="readMatter"> -->
    <div class="readMatterInr" id="readMatterInr">
    <h6>Welcome to Sleep Tips <br/> Here you will learn:</h6>
    <p>About Sleep Tips</p>
            <p>SLEEP TIPS are suggestions to help you get more quality, restful sleep. These tips will center on sleep hygiene and methods to train your body to sleep more restfully. </p>
        </div><!--readMatterInr ends-->
        <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
        <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>
                <!--deepDive ends-->
       <!-- </div> -->
       <!--readMatter ends--> 
    </div><!--summaryPopup-->
    

</ion-content>
