<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">
        <div class="matrContainer blue">
  
          <div class="pageTitle"><h4 class="pthead"><span ></span>AmbientNoise</h4> </div>
          <div></div>
       <!--<div class="pBanner_area">
          <div>
        <div class="pBanner border"><img src="../../../../assets/images/ss-an-crackling-fire.png"><p>CracklingFire</p></div>
        <div class="pBanner border" ><img src="../../../../assets/images/ss-an-crickets.png"><p>AnCrickets</p></div>
      </div><div>
        <div class="pBanner border"><img src="../../../../assets/images/ss-an-fan.png"><p>AnFan</p></div>
        <div class="pBanner border"><img src="../../../../assets/images/ss-an-owl.png"><p>AnOwl</p></div>
      </div>  
      <div>
        <div class="pBanner border"><img src="../../../../assets/images/ss-an-rain.png"><p>AnRain</p></div>
        <div class="pBanner border"><img src="../../../../assets/images/ss-an-static-white.png"><p>StaticWhite</p></div>
      </div>
      <div>
        <div class="pBanner border"><img src="../../../../assets/images/ss-an-waves.png"><p>AnWaves</p></div>
        <div class="pBanner border"><img src="../../../../assets/images/ss-an-wind.png"><p>AnWind</p></div>
      </div>
      </div>-->
      <ul class="colSet">
        <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/ss-an-crackling-fire.png"/></div>
             <div class="eMatr">CracklingFire</div>
        </li>
        
        <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/ss-an-crickets.png"/></div>
             <div class="eMatr">Crickets</div>
        </li>
        
         <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/ss-an-fan.png"/></div>
             <div class="eMatr">Fan</div>
        </li>
        
         <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/ss-an-waves.png"/></div>
             <div class="eMatr">Waves</div>
          </li>
          <li class="each2cs">
            <div class="eImg"><img src="../../../../assets/images/ss-an-owl.png"/></div>
            <div class="eMatr">Owl</div>
         </li>
         <li class="each2cs">
          <div class="eImg"><img src="../../../../assets/images/ss-an-static-white.png"/></div>
          <div class="eMatr">Static White</div>
       </li>
       <li class="each2cs">
        <div class="eImg"><img src="../../../../assets/images/ss-an-rain.png"/></div>
        <div class="eMatr">Rain</div>
     </li>
     <li class="each2cs">
      <div class="eImg"><img src="../../../../assets/images/ss-an-wind.png"/></div>
      <div class="eMatr">Wind</div>
   </li>
      </ul>
        
        <!--<div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->
       
      </div>
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>