@charset "utf-8";

.select-with-intention-page .mainContainer{background:#071c55; border-radius: 20px;}
.fwBanner{clear:both; display:block;}
.fwBanner img{width:100%; height:auto; clear:both; display:block;}

.matrContainer.red{border: 4px solid #e2020a; padding:0px; border-radius:15px; background:#071c55;}
.matrContainer.red .pageTitle{background: #e2020a;  color: #fff;  padding: 10px 0px;  font-size: 20px; text-transform:uppercase; text-align: center;  border-radius: 13px;  margin-top: -1px; margin-bottom: 20px;}

.select-with-intention-page a.backBtn{width:80%;}

@media (min-width:768px){
	
	
}

/***************************************************************************grid*******************************/

@-ms-viewport{width: device-width; }


/*
R #c00000
O #ff6600
Y #dccf07
G #97c255
B #50a7db
I #2b035c
V #7f3f97
*/
