<ion-content>

  <div class="summaryPopup howitworksPop">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>About Reset Mindset</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  
  <div class="readMatterInr">
    <h6><b>RESET MINDSET is based on the premise that:</b></h6>
   
    <ul>
      <li>Emotions are a survival mechanism – they drive behavior. They are neither good nor bad, merely a reaction to a trigger.</li>
      <li>Strong emotions are an indicator that something needs your attention.</li>
      <li>Strong emotions are an indicator that something needs your attention.</li>
      <li>Several emotions can arise at once - focus on the predominant emotion and name it.</li>
      <li>Naming it is the first step to processing an emotion.</li>
      <li>Processed emotions will recede.</li>
      <li>nprocessed emotions accumulate and fester causing increased stress and potentially unwanted behavior.</li>
    </ul>
    


    <h6><b>RESET MINDSET</b> consists of 2 sections.</h6>
    <h6><b>S.O.S. PROCESS</b></h6>
   
    <ul>
      <li>STOP and breathe.</li>
      <li>OBSERVE your thoughts, sensations and behavioral reactions to emotions.</li>
      <li>SELECT an intentional response to a triggering circumstance.</li>
    </ul>
    
    <p>
      <img src="../../../assets/images/ms-1.jpg" />
    </p>
    <p>
      <b>DEBRIEF</b> is a review of your response to a situation which gives you a chance to reflect and
      learn from your experience.
    </p>
  </div>
    <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
 <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>
    </div><!--summaryPopup-->

</ion-content>
