<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer green">
  
          <div class="pageTitle"><h4><span class="infoPopup"><img (click)="presentModal()" src="../../../../assets/images/aboutIconWhite.png"/></span>Goals & Stats</h4>
          
            
            
            
          </div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/eat-goalStats.png"></div>
        <a href="javascript:(0)" class="subOptions">Log</a>
        <a href="javascript:(0)" class="subOptions">Personal Chalanges</a>
        
        
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>