<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="pagecontainer pcmargin">

    <div class="mainContainer">


      <div class="matrContainer violet">
  
        <div class="pageTitle"><h4><span class="infoPopup"><img (click)="presentModal()" src="../../../../assets/images/aboutIconWhite.png"/></span>Our Stories</h4>
        
          
          
        </div>
      
      
      <div class="pBanner"><img src="../../../../assets/images/ourStories.jpg"></div>
      <a href="javascript:(0)" class="subOptions">Choose a Story</a>
      <a href="javascript:(0)" class="subOptions">What's Your Story</a>
      </div><!--matrContainer-->

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>