<ion-content>

  <div class="summaryPopup">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>About Focused Meditation </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <div class="readToggle"><img src="../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>
    <div class="readMatter"> -->
    <div class="readMatterInr" id="readMatterInr">
    <h6>Welcome to Focused Meditation <br/> Here you will learn:</h6>
    <p>About Focused Meditation</p>
            <p>When an incident causes the brain to become emotionally hijacked, reactions are automatic and habitual. We will refer to these incidents as “Stimuli” or “Triggers”. <br/><br/> 
        By Resetting your Mindset, you can change your habits when incidents trigger unwanted behaviors or reactions. This reset gives you the power to choose a response with careful consideration of the consequence of your actions.
        </p>
        
        <p> A RESET creates the brain-space for an intentional response.<br/>
        Like a computer getting a re-boot, this is a reset for your brain’s built-in response system.
        </p>
        <p><img src="../../../assets/images/ms-1.jpg"/></p>
        <p>REMOVE “computer” and insert BRAIN!<br/>
        INCIDENT HAPPENS &raquo; BRAIN IS TRIGGERED &raquo; IMMEDIATE REACTION (Habitual and Automatic)
        </p><br/>
                    <h3>RESET</h3>
        <br/>
        <p>
        INCIDENT HAPPENS &raquo; P  A  U  S  E  &raquo;  Use SOS Tool &raquo; INTENTIONAL RESPONSE (Deliberate and Conscious)<br/>
        Reset Mindset consists of 3 sections: SOS Quick Fix, Process The Emotion and Debrief
        </p>
        </div><!--readMatterInr ends-->
        <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
      <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>

        <!--deepDive ends-->
       <!-- </div> -->
       <!--readMatter ends--> 
    </div><!--summaryPopup-->
</ion-content>
