<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="pagecontainer pcmargin">
    <div class="mainContainer">
      <div class="matrContainer blue">
        <div class="pageTitle" (click)="presentModal()">
          <h4>
            <span class="infoPopup"
              ><img src="../../../../assets/images/aboutIconWhite.png" /></span
            >Sleep Sounds
          </h4>
        </div>

        <div class="pBanner">
          <img src="../../../../assets/images/sleepSounds.jpg" />
        </div>
        <a href="javascript:(0)" class="subOptions" (click)="goto('/music')"
          >Music</a
        >
        <!-- <a  href="javascript:(0)" class="subOptions" >White Noise</a> -->
        <a
          href="javascript:(0)"
          class="subOptions"
          (click)="goto('/ambient-noise')"
          >Ambient Noise</a
        >
        <a
          href="javascript:(0)"
          class="subOptions"
          (click)="goto('/binaural-beats')"
          >Binaural Beats</a
        >
      </div>
      <!--matrContainer-->

      <div class="clear"></div>
    </div>
  </div>
  <!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>
