
<ion-content>
  <div class="summaryPopup">
    <span class="closePopup" class="closePopup" (click)="closeModal()">X</span>
    <h3>About Think </h3>
    <div class="pBanner"><div class="vFrame"><iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    <div class="summaryPoster tFrame" id="tFrame" (click)="playvideo()"><div class="vtImage" id="vtImage" ><img  src="../../../assets/images/think-Banner.jpg"/></div></div>
    </div>
    <!-- <div class="summaryPoster"><img width="560" height="315" src="../../../assets/images/think.png"/></div> -->
    <!-- <div class="play" >
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    </div> -->
    <!--<div class="readToggle"><img src="../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->
    <div class="">
      <div class="readMatterInr" id="readMatterInr">
        <h6><b>Think Well</b> covers two functions of the brain.<br/> <b>Analytical/Executive function controls</b></h6>
        <ul>
          <li>High level cognitive skills and critical thinking</li>
          <li>Regulation of Emotions and Mood</li> 
        </ul>
        <h6><b>Emotional/Primitive function controls</b></h6> 
        <ul>
            <li>Survival Instincts</li>
            <li>Raw Emotional reactions</li> 
        </ul>
        
        <p> THINK is based on the premise that:</p>
        <ul>
          <li>THOUGHTS create EMOTIONS which drive BEHAVIOR
            <ul>
              <li>Repeated THOUGHTS become BELIEFS</li>
              <li>Repeated BEHAVIORS become HABITS</li>
            </ul>
          </li>
          <li>TRIGGERS create EMOTIONAL REACTIONS which cause a BRAIN HIJACK
            <ul>
              <li>BRAIN HIJACK happens when the emotional brain overrides the analytical mind </li>
            </ul>
          </li>
        </ul>

        <p><img src="../../../assets/images/ms-1.jpg"/></p>
        <!--<p>The THINK section of C4B trains your brain to become more skilled at managing your thoughts <br/>and processing your emotions. 
          You will also learn to change your behavior and habits by <br/>resetting your mindset.</p>
                    <h3>RESET MINDSET</h3>
        <p>Here you will learn techniques to identify your triggers, observe your thoughts, process emotions, and create new habits.</p>
        <h3>FOCUSED MEDITATION</h3>
           
         <p>Here you examine your thoughts and beliefs and use analytical reasoning to decode and understand them.</p>
         <h3>SELF-TALK </h3>
         <p>Helps create and reinforce positive thought patterns by replacing your negative self-talk <br/>with kinder more constructive thoughts.</p>  
         <h3>THOUGHT JOURNAL</h3> 
          <p>Writing down your experiences and feelings can lead to new insights and a better understanding of yourself.  Over time, you will recognize patterns and identify strategies to change them.<br/>
          This is your place to record thoughts and insights for future reference.  It is helpful to make entries on days when you have big highs or lows.</p>-->
          
        </div>
         <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
         <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>

    </div><!--readMatter ends--> 

    <!-- <div class="">
      <div class="readMatterInr">
        <h6><strong>Think Well</strong> covers two functions of the brain.</h6>
        <h6><strong>Analytical/Executive function controls</strong></h6>
        <ul>
          <li>• High level cognitive skills and critical thinking</li>
          <li>• Regulation of Emotions and Mood</li>
        </ul>
        <h6><strong>Emotional/Primitive function controls</strong></h6>
        <ul>
          <li>• Survival Instincts </li>
          <li>• Raw Emotional reactions </li>
        </ul>
        <h6>THINK is based on the premise that:</h6>
        <ul>
          <li>• THOUGHTS create EMOTIONS which drive BEHAVIOR
            <ul>
              <li>o Repeated THOUGHTS become BELIEFS</li>
              <li>o Repeated BEHAVIORS become HABITS</li>
            </ul>
          </li>
          <li>• TRIGGERS create EMOTIONAL REACTIONS which cause a BRAIN HIJACK
            <ul>
              <li>o BRAIN HIJACK happens when the emotional brain overrides the analytical mind </li>
            </ul>
          </li>
        </ul>

        <p>The THINK section of C4B trains your brain to become more skilled at managing your thoughts and
          processing your emotions. You will also learn to change your behavior and habits by resetting your
          mindset. </p>

        <h6><strong>RESET MINDSET</strong></h6>
        <p>Here you will learn techniques toidentify your triggers, observeyour thoughts,process emotions, and
          create new habits. </p>
        <h6><strong>FOCUSED MEDITATION</strong></h6>
        <p>Here you examine your thoughts and beliefsand use analytical reasoning to decode and understand
          them.</p>
        <h6><strong>SELF-TALK</strong></h6>
        <p>Helps create and reinforcepositive thought patterns by replacing your negative self-talk with
          kinder more constructive thoughts. </p>
        <h6><strong>THOUGHT JOURNAL</strong></h6>
        <p>Writing down your experiences and feelings can lead to new insights and a better understanding of
          yourself. Over time, you will recognize patterns and identify strategies to change them. </p>
        <p>This is your place to record thoughts and insights for future reference. It is helpful to make
          entries on days when you have big highs or lows.</p>
      </div>
     
      <button class="deepDive yellow">Deeper Dive</button>
     
    </div> -->
    <!--readMatter ends-->
  </div><!--summaryPopup-->

</ion-content>
