<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer green">
         
          
          <div class="pageTitle" (click)="presentModal()"><h4><span class="infoPopup"><img src="../../../../assets/images/aboutIconWhite.png"/></span>Balanced Plate</h4>
            
        
          </div>
        
        <div class="pBanner"><img src="../../../../assets/images/balancedplate.jpg"></div>
        <!--<p>BALANCED PLATEgives you nutritional information and tips for optimal health.</p>-->

        <!--<li></li><h4><a href="javascript:(0)" >Balanced Plate</a></h4></li>
        <li><h4><a href="javascript:(0)" >Eat The Rainbow</a></h4></li>-->
        <ul class="eatInrKids">
           <li><a>Ideal Plate</a></li>
           <li><a>Eat the Rainbow</a></li>
           <li> <a>Nuts and Bolts</a></li>
           <li><a> Read the Label</a></li>
           <li> <a>Eat on the job</a></li>
        </ul>
        
      
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>