<ion-content>
  <div class="summaryPopup howitworksPop">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>HOW IT WORKS</h3>
    <div class="pBanner"><img src="../../../assets/images/observe.png" ></div>
  <div class="readMatterInr" id="readMatterInr">
    <p><strong>OBSERVE</strong> is the second step in S.O.S.  </p>
<p>Notice what is happening with your body,thoughts and behavior. Awareness createsmental distance between you and the incident. This is where you become the observer and over time you will learn to recognize howyour body reacts to various emotional triggers. </p><br/><br/>
<p><strong>OBSERVE TECHNIQUE</strong> </p>
<ul>
<li>•	Choose an emotion on the wheel </li>
<li>•	Learn the purposeof that emotion  </li>
<li>•	Familiarize yourself with the intensity range of the emotion 
<ul>
<li>o	The Intensity of your emotion correlates with the value you place on what is at risk.For example,if you lose something that means a lot to you, your emotions are stronger  </li>
</ul>
</li>
<li>•	Check your internal dashboard to learn how the emotion manifests in your body </li>
</ul> <br/><br/>
<p>Once complete go to <strong>SELECT</strong> and evaluate options</p>

</div>
<button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
 <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>
    
    </div>

</ion-content>
