<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">
        <div class="matrContainer blue">
  
          <div class="pageTitle"><h4 class="pthead">SLEEP INFLUENCERS</h4> </div>
        
      <ul class="colSet">
        <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/si-food-drink.jpg"/></div>
             <div class="eMatr">Food & Drink</div>
        </li>
        
        <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/si-health.jpg"/></div>
             <div class="eMatr">Health</div>
        </li>
        
         <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/si-environment.jpg"/></div>
             <div class="eMatr">Environment</div>
        </li>
        
         <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/si-schedule.jpg"/></div>
             <div class="eMatr">Schedule</div>
          </li>

          <li class="each2cs">
            <div class="eImg"><img src="../../../../assets/images/si-exercise.jpg"/></div>
            <div class="eMatr">Exercise</div>
         </li>

         <li class="each2cs">
          <div class="eImg"><img src="../../../../assets/images/si-stress.jpg"/></div>
          <div class="eMatr">Stress</div>
       </li>

      </ul>              
        <!--<div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->

        </div>
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>