ul.sos-tabs li {
    width:28%;
}


.wrapper {
    position: relative;
  }
  
  #counter {
    position: absolute;
  }
  .startStop2 {
    background: #053268;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    border: 2px solid #f4b13e;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}