<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">
        <div class="matrContainer blue">
          
          <div class="pageTitle"><h4 class="pthead">SLEEP INFLUENCERS</h4> </div>
        
      <ul class="colSet">
       
        <div class="summaryPoster"><img src="../../../../assets/images/s-why-it-matters.png"></div>

      </ul>              
        <!--<div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->

        </div>
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>