<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer indigo">
  
          <div class="pageTitle"><h4>Effort</h4>  </div>
          <div class="summaryPoster"><img src="../../../../assets/images/code-effort.png"></div>
          <!-- <div class="readToggle"><img src="../../../../assets/images/playBtn.png" class="readIcon"><i>X</i></div>
          <div class="readMatter"> -->
              <div class="readMatterInr" id="readMatterInr">
            <!-- <h6>Welcome to Effort <br> Here you will learn:</h6> -->
            <p>About Effort</p>
                    <p>This final step is time for you to put effort into your healing. Any stress you have from this incident will likely not disappear on its own. However, there are a few things you can do to work toward that.
                </p>
                 </div><!--readMatterInr ends--> 
                 <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
                 <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button><!--deepDive ends-->
               <!-- </div> -->
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>