<ion-content>

  <div class="summaryPopup">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>About Sleep Tips</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div> -->
    <!-- <div class="readMatter"> -->
    <div class="readMatterInr" id="readMatterInr">
    <h6><b>Welcome to ON THE JOB <br/> Here you will learn:</b></h6>
    <p>About ON THE JOB</p>
            <li><p>includes movements you can do while at work. You will find stretches, exercises and breathing techniques to do in your workspace. These activities are designed to help you take short breaks to release stress, stretch and move. </p>
        </li>
            </div><!--readMatterInr ends-->
        <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
 <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>
        <!--deepDive ends-->
       <!-- </div -->
    </div><!--summaryPopup-->

</ion-content>
