@charset "utf-8";

.know-your-intentions-page .mainContainer{background:#071c55; border-radius: 20px;}
.fwBanner{clear:both; display:block;}
.fwBanner img{width:100%; height:auto; clear:both; display:block;}

.matrContainer{ padding:0px; border-radius:15px; background:#071c55;}
.matrContainer .pageTitle{color: #fff;  padding: 10px 0px;  font-size: 20px; text-transform:uppercase; text-align: center;  border-radius: 13px;background-color: #e2020a;  margin-top: -1px; margin-bottom: 20px;}
.matrContainer.c1 a.backBtn{border:4px solid #e2020a !important;}
.matrContainer.c2 a.backBtn{border:4px solid #ec8a1d !important;}
.matrContainer.c3 a.backBtn{border:4px solid #f6ad09 !important;}
.matrContainer.c4 a.backBtn{border:4px solid #5b8426 !important;}
.matrContainer.c5 a.backBtn{border:4px solid #3b9bcd !important;}
.matrContainer.c6 a.backBtn{border:4px solid #0759fd !important;}
.matrContainer.c7 a.backBtn{border:4px solid #9a1fd2 !important;}
.matrContainer.c1{border:4px solid #e2020a;}
.matrContainer.c2{border:4px solid #ec8a1d;}
.matrContainer.c3{border:4px solid #f6ad09;}
.matrContainer.c4{border:4px solid #5b8426;}
.matrContainer.c5{border:4px solid #3b9bcd;}
.matrContainer.c6{border:4px solid #0759fd;}
.matrContainer.c7{border:4px solid #9a1fd2;}
.know-your-intentions-page a.backBtn{width:80%;}

.matrContainer.c1 div.pageTitle{background-color: #e2020a !important;}
.matrContainer.c2 div.pageTitle{background-color: #ec8a1d !important;}
.matrContainer.c3 div.pageTitle{background-color: #f6ad09 !important;}
.matrContainer.c4 div.pageTitle{background-color: #5b8426 !important;}
.matrContainer.c5 div.pageTitle{background-color: #3b9bcd !important;}
.matrContainer.c6 div.pageTitle{background-color: #0759fd !important;}
.matrContainer.c7 div.pageTitle{background-color: #9a1fd2 !important;}

@media (min-width:768px){
}

/***************************************************************************grid*******************************/

@-ms-viewport{width: device-width; }


/*
R #c00000
O #ff6600
Y #dccf07
G #97c255
B #50a7db
I #2b035c
V #7f3f97
*/
