
<ion-content>  

  <div class="summaryPopup">
   <span class="closePopup" (click)="closeModal()">X</span>
   <h3>About Weight Management</h3>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <!-- <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>
   <div class="readMatter"> -->
   <div class="readMatterInr" id="readMatterInr">
   <h6>Welcome to Health Management <br/> Here you will learn:</h6>
   <p>About Health Management</p>
           <p>HEALTH MANAGEMENT offers information to help you take care of excess weight and reduce the risk of chronic disease. If your weight is within normal range, this section offer tips for overall healthy living as well as information about preventing and managing chronic disease.</p>
       </div><!--readMatterInr ends-->
       <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
       <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>

      <!-- </div> -->
      <!--readMatter ends--> 
   </div><!--summaryPopup-->
   
</ion-content>
