.dive{
    display: none;
    background: #254f81;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 12px 0px;
    clear: both;
    margin: 20px auto 40px;
    cursor: pointer;
    border: 2px solid #fff;
    width: 90%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
