<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer green">
  
          <div class="pageTitle"><h4><span class="infoPopup"><img src="../../../../assets/images/aboutIconWhite.png"/></span>Assessment</h4>
          
           <div class="summaryPopup">
            <span class="closePopup">X</span>
            <h3>About Assessment</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>
            <div class="readMatter">
            <div class="readMatterInr">
            <h6>Welcome to Assessment <br/> Here you will learn:</h6>
            <p>About Assessment</p>
                    <p>When an incident causes the brain to become emotionally hijacked, reactions are automatic and habitual. We will refer to these incidents as “Stimuli” or “Triggers”. <br/><br/> 
                By Resetting your Mindset, you can change your habits when incidents trigger unwanted behaviors or reactions. This reset gives you the power to choose a response with careful consideration of the consequence of your actions.
                </p>
                </div><!--readMatterInr ends-->
                <button class="deepDive green">Deep Dive</button><!--deepDive ends-->
               </div><!--readMatter ends--> 
            </div><!--summaryPopup-->
            
            
            
            
          </div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/assessment.jpg"></div>
        <a href="javascript:(0)" class="subOptions">Your Profile</a>
        <a href="javascript:(0)" class="subOptions">Your Food</a>
        
        
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>