<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="pagecontainer pcmargin">

    <div class="mainContainer">


      <div class="matrContainer violet">

        <div class="pageTitle">
          <h4><span class="infoPopup"><img (click)="presentModal()" src="../../../../assets/images/aboutIconWhite.png" /></span>What's News</h4>



        </div>


        <div class="pBanner"><img src="../../../../assets/images/whatNews.jpg"></div>
        <a href="javascript:(0)" class="subOptions">Department News</a>
        <a href="javascript:(0)" class="subOptions">Local News</a>
        <a href="javascript:(0)" class="subOptions">FOP Corner</a>
        <a href="javascript:(0)" class="subOptions">Featured News</a>
        <a href="javascript:(0)" class="subOptions">Events</a>
      </div>
      <!--matrContainer-->

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>