<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">
        <div class="matrContainer blue">
  
          <div class="pageTitle"><h4 class="pthead">MUSIC</h4> </div>
        
      <ul class="colSet">
        <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/ss-music-classical.png"/></div>
             <div class="eMatr">Classical</div>
        </li>
        
        <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/ss-music-piano.png"/></div>
             <div class="eMatr">Piano</div>
        </li>
        
         <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/ss-music-relaxation.png"/></div>
             <div class="eMatr">Relaxation</div>
        </li>
        
         <li class="each2cs">
             <div class="eImg"><img src="../../../../assets/images/ss-music-personal-playlist.png"/></div>
             <div class="eMatr">Personal Playlist</div>
          </li>
      </ul>              
        <!--<div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->

        </div>
        <div class="clear"></div> 
      </div>
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>