<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer indigo">
  
          <div class="pageTitle"> <h4>Open Communications</h4>  </div>
          <div class="summaryPoster"><img src="../../../../assets/images/code-open-communication.png"></div>
          <!-- <div class="readToggle"><img src="../../../../assets/images/playBtn.png" class="readIcon"><i>X</i></div>
          <div class="readMatter"> -->
              <div class="readMatterInr" id="readMatterInr">
            <!-- <h6>Welcome to Open Communications <br> Here you will learn:</h6> -->
            <p>About Open Communications</p>
                    <p>The second step is to start communicating with necessary parties that will best support your healthy coping and functioning after a traumatic incident.</p>
                 </div><!--readMatterInr ends--> 
                 <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
                 <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button><!--deepDive ends-->
               <!-- </div> -->
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>