<app-header></app-header>

<ion-content [fullscreen]="true">
  <!-- <body class="homePage"> -->
    <div class="mainContainer">
    <div class="pagecontainer">
      <ul class="topSquares">
        <li class="active"><img src="../../../assets/images/moveIcon.jpg"/></li>
        <li (click)="goto('/think-menu')"><img src="../../../assets/images/thinkIcon.jpg"/></li>
        <li (click)="goto('/eat-menu')"><img src="../../../assets/images/eatIcon.jpg"/></li>
        <li (click)="goto('/sleep-menu')"><img src="../../../assets/images/sleepIcon.jpg"/></li>
        <li (click)="goto('/sleep-menu')"><img src="../../../assets/images/copeIcon.jpg"/></li>
        <li (click)="goto('/sleep-menu')"><img src="../../../assets/images/connectIcon.jpg"/></li>
      </ul>
      <ul class="thinkKids">
  
  
        <!--******************************************************************************************-->  
          
          
          <li (click)="presentModal()"><h4><span class="infoPopup"><img src="../../../assets/images/aboutIconWhite.png"/></span>Move Well</h4>
          
           <!--summaryPopup-->
          
          </li>
           <li><h4  (click)="goto('/on-the-job')">ON THE JOB</h4></li>
           <li><h4  (click)="goto('/move/fitness-coach')">FITNESS COACH</h4></li>
           <li><h4  (click)="goto('/move/whole-in')">TRANSFORM IN 30</h4></li>
           <li><h4  (click)="goto('/move/zen-zone')">ZEN ZONE</h4></li>
           <li><h4  (click)="goto('/move/your-stats')">Goals & Stats</h4></li>
          </ul>
       
    <div class="clear"></div>
    </div>
  </div> <!--homePagecontainer ends-->
  <div class="clear"></div>
    <!-- </body> -->
</ion-content>

<app-footer></app-footer>
