<ion-content>

  <div class="summaryPopup">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>About Zen Zone</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!-- <div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>
    <div class="readMatter"> -->
    <div class="readMatterInr" id="readMatterInr">
      <p>ZEN ZONE is where you can do some yoga. Studies show that practicing yoga helps ease anxiety and depression, and strengthens the body. There are routines to increase strength and balance, energize the body, relax, and help you become more flexible. Maintaining and increasing flexibility and balance helps to prevent injuries and falls.</p>
        </div><!--readMatterInr ends-->
        <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
        <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button>
        <!--deepDive ends-->
       <!-- </div> -->
       <!--readMatter ends--> 
    </div><!--summaryPopup-->
    

</ion-content>
