<app-header></app-header>
   
  <ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">
      <div class="mainContainer">


        <div class="matrContainer red">
          <div class="pageTitle"><h4><span class="infoPopup"></span>REMINDERS</h4></div>
          
          <div class="fwBanner"><img src="../../../assets/images/know-your-intention.jpg"/></div>
          
         <p><b>REMINDERS</b> </P>
          <p>
            <ul>
            <li>Anger’s call for action is to respectfully set or restore boundaries.</li>
           <li>Keep your Big Picture Intention in mind.</li>
           <li>Make sure your In-The-Moment Intention supports your Big Picture Intention.</li>
            <li> Consider all options and consequences before the situation escalates.</li>
            <li> Stay aware of how your mindset and emotions are affecting your response.</li>
            <li>Keeping your cool in a difficult situation is always most effective.</li>
          </ul>
        </p>
        
         
        </div><!--matrContainer-->
</ion-content>
<app-footer></app-footer>
