<app-header></app-header>

<ion-content [fullscreen]="true">
    <div class="pagecontainer pcmargin">

      <div class="mainContainer">


        <div class="matrContainer green">
  
          <div class="pageTitle" (click)="presentModal()"><h4><span class="infoPopup"><img src="../../../../assets/images/aboutIconWhite.png"/></span>Weight Management</h4>
        
            
            
            
          </div>
        
        
        <div class="pBanner"><img src="../../../../assets/images/weightManagement.jpg"></div>
        <a href="javascript:(0)" class="subOptions" (click)="goto('/eat/scale-tracker')">Scale Tracker</a>
        <a href="javascript:(0)" class="subOptions">Portion Control</a>
        <a href="javascript:(0)" class="subOptions">EAT THIS NOT THAT</a>
        <a href="javascript:(0)" class="subOptions">Myths</a>
        <a href="javascript:(0)" class="subOptions">Alcohol</a>
        <a href="javascript:(0)" class="subOptions">Disease Prevention</a>
        
        
         
        </div><!--matrContainer-->
        
        <div class="clear"></div> 
      </div>
      <div class="clear"></div> 
    </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>