<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="pagecontainer pcmargin">

    <div class="mainContainer">


      <div class="matrContainer violet">

        <div class="pageTitle">
          <h4><span class="infoPopup"><img (click)="presentModal()" src="../../../../assets/images/aboutIconWhite.png" /></span>Sights and Sounds</h4>

      


        </div>


        <div class="pBanner"><img src="../../../../assets/images/sightsnSounds.jpg"></div>
        <a href="javascript:(0)" class="subOptions">Sights</a>
        <a href="javascript:(0)" class="subOptions">Music</a>
        <a href="javascript:(0)" class="subOptions">Calming Sound</a>
        <a href="javascript:(0)" class="subOptions">My Custom Playlist</a>
      </div>
      <!--matrContainer-->


      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div><!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>