

.metermatr ul li {
    font-size:20px;
}


.summaryPopup {
    display: none;
    width: 100% !important;
    padding: 5% 0;
    background: #254f81;
    z-index: 999;
    right: 0;
    top: 0px !important;
    border: 4px solid #f4b13e;
    border-radius: 15px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    padding: 10px;
}

.closePopup {
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 50px;
    color: #053238;
    background: #fff;
    height: 30px;
    width: 27px;
    text-align: center;
    padding-top: 2px;
    z-index: 999;
    top: auto;
    left: auto
}

a.backBtn1 {
   
    border-radius: 10px;
    background: #071c55;
    margin: 20px auto;
    display: block;
    clear: both;
    width: 90%;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    padding: 5% 5%;
}