<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="pagecontainer pcmargin">
    <div class="mainContainer">
      <div class="matrContainer indigo">
        <div class="pageTitle">
          <h4>
            <span class="infoPopup"
              ><img
                (click)="presentModal()"
                src="../../../../assets/images/aboutIconWhite.png" /></span
            >Critical Incident Code
          </h4>
        </div>

        <div class="pBanner">
          <img src="../../../../assets/images/criticalIncident.jpg" />
        </div>
        <a
          href="javascript:(0)"
          class="subOptions"
          (click)="goto('/coping-tools/come-down')"
          >Come Down</a
        >
        <a
          href="javascript:(0)"
          class="subOptions"
          (click)="goto('/coping-tools/open-communications')"
          >Open Communications</a
        >
        <a
          href="javascript:(0)"
          class="subOptions"
          (click)="goto('/coping-tools/down-time')"
          >Down Time</a
        >
        <a
          href="javascript:(0)"
          class="subOptions"
          (click)="goto('/coping-tools/effort')"
          >Effort</a
        >
      </div>
      <!--matrContainer-->

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- .pagecontainer -->
</ion-content>

<app-footer></app-footer>
