<ion-content>

  <div class="summaryPopup">
    <span class="closePopup" (click)="closeModal()">X</span>
    <h3>About Sleep Sounds</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/y5IfmnqI2lE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!--<div class="readToggle"><img src="../../../../assets/images/readText-icon.png" class="readIcon"/><i>X</i></div>-->
    <!-- <div class=""> -->
    <div class="readMatterInr" id="readMatterInr">
    <h6>Welcome to Sleep Sounds <br/> Here you will learn:</h6>
    <p>About Sleep Sounds</p>
            <p>SLEEP MEDITATIONS provides guided meditations to aid in falling asleep and resting. </p>
    </div><!--readMatterInr ends-->
    <button class="deepDive yellow" id="deepDive" (click)="onheight()">Deeper Dive</button>
    <button class="dive" id="dive" (click)="ofheight()">Dive Deeper</button><!--deepDive ends-->
      <!-- </div> -->
      <!--readMatter ends--> 
    </div><!--summaryPopup-->
    
</ion-content>
